<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('nav', {links:links})%>
    <div class="messagesWrap">
        <div class="title">
            <h1>Messages</h1>
        </div>
        <div class="contentWrap">
            <%if(messages && messages.length > 0) { %>
                <%messages.forEach((data) => { %>
                    <div class="card">
                        <div class="content">
                            <span class="username inlineGap">
                                <p>User: <%=data.username%></p>
                            </span>
                            <span class="date inlineGap">
                                <p>Date: <%=data.date%></p>
                            </span>
                        </div>
                        <div class="message inlineGap"> 
                            <p>Message: <%=data.message%> </p>
                        </div>
                    </div>
                <%})%>
            <%}%>
        </div>
    </div>
    <div class="footerWrap">
        <%-include('footer', {footerLink:footerLink})%>
    </div>
</body>
</html>