<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('nav', {links:links})%>
    <div class="messagesWrap">
        <ul>
            <%for(let i = 0; i < messages.length; i++) { %> 
            <div class="messageCard">
                <span>
                    <h1>
                        <%=messages[i].user%> <br>
                    </h1>
                    <p>
                        <%=messages[i].time%>
                    </p>
                </span>
                <span>
                    <p>
                        <%=messages[i].text%>
                    </p>
                </span>
            </div>
            <%}%>
        </ul>
    </div>
    <%-include('footer', {footerLink:footerLink})%>
</body>
</html>